.ant-layout-sider-dark{
    background-color: white;
    height: 100vh;
}

.navHeader{
    background-color: white;
    height: auto;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.arrowicon{
    margin-top:5px;
    margin-left:165px;
    border:3px solid black;
    font-size:35px;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.arrowicon:hover{
    color:#1890ff;
    border:2px solid #1890ff ;
}

.menuicon{
    margin-top:8px;
    margin-left:-25px;
    font-size:35px;
}

.menuicon:hover{
    color:#1890ff;
}

.usericon{
    font-size: 35px; 
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 0px;
    border: 3px solid black;
}

.usericon:hover{
    color:#1890ff;
    border :3px solid #1890ff;
}

.ant-menu-item-only-child{
    margin: 0 0;
    padding: 0 0 ;
}

.ant-menu-item{
    margin: 0 0;
    padding: 0 0;
}

span.ant-radio-inner{
    border:none;
    /* padding:2px 8px !important; */
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 10px !important;
    border: 2px solid rgba(0,0,0,0.5);
}
span.ant-radio-inner::after{
padding: 0px !important;
margin: 0px !important;
height: 15px;
width: 14px;
left: 0;
right: 0;
bottom: 0;
top: 0;
}

div.ant-radio-group{
    margin-left: 4px !important;
}
.ant-Rate{
    width: 50% !important;
}