html{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar{
  width: 0;
  height: 0;
}

*{
  margin: 0px;
  padding: 0px;
}

#root { /* selecting root div of react see - public/index.html*/
  min-height: 99vh;
  position: relative;
}

:root{
  --primary-blue: 24, 144, 255; 
  --primary-dark-blue: 36, 48, 83;
  --secondry-blue: 49, 112, 126;
  --secondry-dark-blue:17, 45, 50; 
  --primary-green:58, 175, 169; 
  --primary-dark:104, 118, 132;
  --primary-white: 250,250,250;
  --primary-grey:240, 240, 240;
  --primary-yellow: 255, 233, 0;
  --primary-green-yellow:154, 205, 50; 
  --primary-orange: 222, 102, 0;
  --primary-red: 255, 74, 74;
  --primary-grey-1: 108, 117, 125;
  --primary-grey-2:33, 37, 41;
  --primary-grey-3:50, 54, 58;
  --secondry-grey-1:238, 238, 238;
  --secondry-grey-2:221, 221, 221;

  --space-from-top:85px;
  --filterbar-width-desktop:39rem;
  --filterbar-width-mobile:100vw;
  --userbar-width-desktop:34rem;
  --userbar-width-mobile:100vw;


  /* bootstrap breakpoints */
  /* --sm-break:576px;
  --md-break:768px;
  --lg-break:992px;
  --xl-break:1200px; */
}

a{
  text-decoration: none !important;
  color: black !important;
}

/* General */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


/* typography */
h1 {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 2.8rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.gradient{
  background-image: linear-gradient(to right, rgb(var(--primary-green)) , 40% , rgb(var(--primary-blue)));
  color: transparent;
  font-weight: 900 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 0;
}

h4{
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

h5{
  font-size:1.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/* Toast */
@keyframes toastDown {
  from{
    top:-1rem;
  }
  to{
    top:9rem;
  }
}

div#toast{
  color: black;
  background-image: linear-gradient(40deg, rgb(var(--primary-green-yellow)) 20% , rgb(var(--primary-green)));
  padding: 0.4rem 0.4rem;
  border-radius: 20px;
  position: fixed;
  left: 0 ;
  right: 0 ;
  top: 9rem;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

div#toast.error{
  background-image: linear-gradient(40deg, rgb(var(--primary-red)) 20% , rgb(var(--primary-orange)));
}

div#toast.show{
  visibility: visible;
}


div#toast span{
  background-color: white;
  border-radius: 15px;
  padding: 0.8rem 1.4rem ;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}

/* customized headings */
h1.brand {
  text-align: center;
  text-shadow: 2px 2px 0px #eee, 2.5px 2.5px 0px #000;
  color:rgb(var(--secondry-dark-blue));
  margin: 0 auto;
  /* width: 100%; */
}
h1.brand a{
  display:inline-block;
  margin: 0 1.5rem;
}
h1.brand a::first-letter {
  color: rgb(var(--primary-blue));
}

/* customized buttons */
button.ctabutton {
  outline: none;
  padding: 4px 1.5ch;
  border-radius: 20px;
  font-size: 1.8rem;
  color:white;
  text-shadow: 0px 0px 4px rgb(var(--secondry-dark-blue));
  border: 3px solid rgb(var(--primary-green)) !important;
  transition: all 0.4s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  backdrop-filter: blur(9px);
  background-color: rgba(var(--primary-blue), 0.25);
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  box-sizing: border-box;
}

button.ctabutton.solid::before{
  content: "";
  background-color: rgba(var(--primary-green),0.8);
  backdrop-filter: blur(10px);
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 0;
  transition: all 0.4s;
}

button.ctabutton span.icon{
  transition:opacity 0.4s, width 0.4s;
  width: 0;
  /* overflow: hidden; */
  opacity: 0;
  display: inline-block;
  z-index: 1;
}

button.ctabutton span.text{
  letter-spacing: 0.6ex;
  width: 100%;
  display: inline-block;
  transition: all 0.4s;
  z-index: 1;
}

button.ctabutton:hover {
  border: 3px solid rgb(var(--primary-blue)) ;
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-blue));
  justify-content: space-between;
}

button.ctabutton.solid:hover::before{
  width: calc(3px + 1.5ch + 2.3ch);
}

button.ctabutton:hover span.icon {
  width:2ch;
  /* overflow: visible; */
  opacity: 1;
}

button.ctabutton:hover span.text {
  letter-spacing: 0ch;
}

/* ---------- Custom Form -------- */
form.myform fieldset{
  position: relative;
  margin-bottom: 1.8rem;
}

form.myform fieldset:last-of-type{
  margin-bottom: 3rem;
}

form.myform fieldset input {
  display: block;
  padding-top: 2rem;
  background-color: transparent;
  border-top: none;
  border-right: none;
  outline: none;
  border-left: none;
  border-bottom: 4px solid transparent;
  font-size: 2rem;
  width: 70%;
  transition: border 0.2s;
  position:relative ;
}

form.myform fieldset input[type="password"]::after{
  content: "";
  position: absolute;
}

form.myform fieldset label {
  position: absolute;  
  opacity: 0;
  top: 24px;
  transition: top 0.2s;
  color:rgb(var(--primary-blue));
}

form.myform fieldset input:not(:placeholder-shown) + label ,
form.myform fieldset input:focus + label {
  font-weight: bold;
  opacity: 1;
  top:0px;
  font-size: 1.6rem;
}

form.myform fieldset input:not(:placeholder-shown) ,
form.myform fieldset input:focus {
  border-bottom: 4px solid rgb(var(--primary-blue)) ; 
}

form.myform fieldset input::placeholder {
  color: rgb(var(--secondry-dark-blue));
  font-size: 2rem;
  opacity: 0.8;
  transition: opacity 0.2s;
  font-weight: 700;
}

form.myform fieldset input:focus::placeholder {
  opacity: 0 !important;
}

form.myform fieldset input:not(:placeholder-shown):invalid {
  border-bottom: 4px solid red; 
}

form.myform fieldset input:not(:placeholder-shown):invalid + label {
  color: red;
}
/* ------------ SlideBar --------- */

section.slidebar{
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100%;
  box-shadow: 0rem 0rem 1rem 0.3rem grey;
}

section.slidebar.left{
  left: 0; /* override it by filterbar left = -39rem (i.e. width of slidebar) */
  transition: left 0.3s ease-in-out !important;
  -webkit-transition: left 0.3s ease-in-out !important;
}

section.slidebar.right{
  right: 0; /* override it by userbar right = -39rem (i.e. width of slidebar) */
  transition: right 0.3s ease-in-out!important;
  -webkit-transition: right 0.3s ease-in-out !important;
}

section.slidebar div.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding : 1.5rem;
}

section.slidebar div.head div.sbarcross i {
  padding:1rem 1.5rem;
  font-size: 2.5rem;
  margin-right: 0rem;
  border-width: 0.2rem;
  border-color: transparent; 
  border-style: solid;
  transition: border 0.2s;
}

section.slidebar div.head div.sbarcross i:hover  {
  color: rgb(var(--primary-green-yellow));
  cursor: pointer;
  border-style: solid;
  border-color: rgb(var(--primary-green-yellow));
}

section.slidebar div.body div.sbaritem div.sbaraccordion div.title {
  cursor: pointer;
}

section.slidebar div.body div.sbaritem div.sbaraccordion div.body{
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}

section.slidebar div.body div.sbaritem div.sbaraccordion div.body.visible{
  overflow: visible;
  max-height: 50rem;
}

/* Loader */
#loader {
  position: fixed;
  z-index: -4;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

#loader.show {
  z-index: 5;
  opacity:1;
}

#loader div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loader div img{
  width: 10vw;
  display: block;
}

#loader div span{
  width: 10vw;
  height: 1rem;
  border-radius: 10px;
  border:2px solid rgb(var(--primary-dark-blue));
  display: block;
  position: relative;
  overflow: hidden;
}

#loader div span::after{
  content: "";
  left:-25%;
  position: absolute;
  width: 25%;
  height: 0.8rem;
  display: block;
  background-color: rgb(var(--primary-blue));
}

#loader.show div span::after{
  animation: move 1s ease-in-out infinite alternate;
}
@keyframes move {
  0%{
    left: -25%;
  }
  100%{
    left: 100%;
  }

}
/* ############ Main Section ############ */

/* filter bar */
#filterbar{
  background-color: rgba(var(--primary-white),0.2);
  backdrop-filter: blur(20px);
  left: -var(--filterbar-width-desktop);
}

#filterbar div.head div.sbartitle h3.gradient{
  text-shadow: 2px 2px 3px rgb(var(--primary-grey-2));
  color: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.title {
  background-color:rgb(var(--secondry-grey-1)) ;
  text-shadow: 0.1px 0.1px 0.1px rgba(var(--primary-grey-1,0.05));
  padding: 1.5rem 2rem;
  /* margin: 0.4rem; */
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3ch;
  margin-bottom: 0;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
}

#filterbar div.body div.sbaritem:first-child div.sbaraccordion div.title {
  border-top: 0.2rem solid rgb(var(--primary-grey-3));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.title:hover {
  background-color: rgb(var(--secondry-grey-2));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body {
  backdrop-filter: blur(10px);
  background-color: rgba(var(--primary-white),0.7);
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body.visible {
  z-index: 1;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter {
  display: flex;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
  justify-content: space-around; 
  align-items: center;
  padding-top: 4rem;
  width: 100%;
  padding-bottom: 2rem;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span{
  display: flex;
  align-items: center;
  position: relative;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span.range{
  width: 65%;
  margin: 0 1rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span.number{
  width: 15%;
  margin: 0 1rem;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span{
  position: absolute;
  border: 2px solid rgb(var(--primary-grey-1));
  top:-3.3rem;
  padding:0rem 0.3rem;
  border-radius:5px;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span::after{
  content: "";
  position: absolute;
  border:6px solid transparent; 
  border-top-color: rgb(var(--primary-grey-1));
  bottom: -1.2rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.left{
  left: -1rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.left::after{
  left: 14%;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.right{
  right: -2.5rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.right::after{
  left: 40%;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]{
	-webkit-appearance: none;
  appearance: none;
	width: 100%;
	background: transparent;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]:focus{
  outline: none;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-track{
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
/* All the same stuff for Firefox */
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-moz-range-thumb{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-thumb{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* Styling track now */
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(var(--primary-blue));
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]:focus::-webkit-slider-runnable-track{
  background: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-moz-range-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(var(--primary-blue)); 
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-fill-lower{
  background: rgb(var(--primary-blue));
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-fill-lower{
  background: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-fill-upper{
  background: rgb(var(--primary-blue));
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]:focus::-ms-fill-upper{
  background: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]::-webkit-inner-spin-button,
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]{
  -moz-appearance: textfield ;
  margin: 0;
  appearance: textfield ;
  -webkit-appearance: textfield;
  width: 100%;
  text-align: center;
  /* box-shadow: 0px 0px 5px 2px rgb(var(--secondry-blue)) ; */
  border: 2px solid rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]:focus{
  outline: none;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter {
  text-align: center;
  padding:1.5rem 0;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
} 
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div label{
  width: 50%;
  margin: 0.2rem 0;
  padding: 1rem 1.2rem;
  border: 2px solid transparent; 
  letter-spacing: 0.4ch;
  border-radius: 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  position: relative;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div label:hover{
  background-color:rgba(var(--primary-blue),0.5); 
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div input[type=radio]{
  /* position: relative; */
  display: none;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div input[type=radio]:checked + label{
  border:0.2rem solid rgb(var(--primary-blue));
}

@media screen and (max-width:40rem){
  #filterbar{
    left: -var(--filterbar-width-mobile);
  }
}


/* user bar */
#userbar {
  background-color: rgba(var(--primary-white),0.2);
  backdrop-filter: blur(20px);
  right: -var(--userbar-width-desktop);
}

#userbar div.head {
  flex-direction: row-reverse;
}

#userbar div.head div.sbartitle h3.gradient{
  text-shadow: 2px 2px 3px rgb(var(--primary-grey-2));
  color: rgb(var(--primary-blue));
}

#userbar div.body div.sbaritem div.sbarbutton a{
  background-color:rgb(var(--secondry-grey-1)) ;
  display: block;
  text-shadow: 0.1px 0.1px 0.1px rgba(var(--primary-grey-1,0.05));
  padding: 1.5rem 2rem;
  /* margin: 0.4rem; */
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  margin-bottom: 0;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
}

#userbar div.body div.sbaritem:first-child div.sbarbutton a {
  border-top: 0.2rem solid rgb(var(--primary-grey-3));
}

#userbar div.body div.sbaritem div.sbarbutton a:hover {
  background-color: rgb(var(--secondry-grey-2));
}

#userbar div.body div.sbaritem:last-child div.sbarbutton a {
  color: red !important;
}

@media screen and (max-width:40rem){
  #userbar{
    right: -var(--userbar-width-mobile);
  }
}

/* ------------ Navbar ---------*/
#header #navbar {
  padding: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0.3rem grey;
  margin-bottom: 2rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  background-color: white;
  align-items: center;
  /* margin-top:calc(var(--space-from-top)*-1); */
}


#header #navbar > div {
  font-size: 4rem;
}

#header #navbar img {
  height: 4.5rem;
  width: auto;
}

#header #navbar i{
  padding: 1rem;
  transition: border 0.2s;
  border: 0.2rem solid white;
}

#header #navbar i:hover{
  cursor: pointer;
  border: 0.2rem solid black;
}

#header #navbar > div.sidebar-icon {
  text-align: center;
  margin-right: auto;
}
#header #navbar > div.wrap-search-user {
  /* width: 20%; */
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  width: min-content;
}
#header #navbar > div.wrap-search-user input {
  font-size: 2rem;
  margin: auto 0;
  max-width: 50%;
  margin-right: 0.1rem;
  border: 0;
  transition: 0.2s all;
  outline: none;
  border-bottom: 0.2rem solid transparent;
}
#header #navbar > div.wrap-search-user input:focus {
  border: none;
  border-bottom: 0.2rem solid rgb(var(--primary-blue)) !important;
}
#header #navbar > div.wrap-search-user input:hover {
  border: none;
  border-bottom: 0.2rem solid rgb(var(--primary-blue)) !important;
}
#header #navbar > div.wrap-search-user input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#header #navbar > div.wrap-search-user input:hover::placeholder {
  color: black; 
}
#header #navbar > div.wrap-search-user input:focus::placeholder {
  color: black; 
}

#header #navbar > div.wrap-search-user span.search {
  font-size: 2.5rem;
  border: none;
  display: inline-flex;
  margin-left: auto;
}
#header #navbar > div.wrap-search-user span.search i {
  border: none;
  transition: all 0.2s;
  padding: 1rem;
  align-self: center;
  padding: none;
  color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  display: initial;
}
#header #navbar > div.wrap-search-user span.search i:hover{
  cursor: pointer;
}
#header #navbar > div.wrap-search-user span.search i.invisible {
  display: none;
}

#header #navbar > div.wrap-search-user i#searchicon {
  display: none;
}

#header #navbar > h1 {
  /* padding-left: 8%; */
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin-right: auto;
}

@media all and (max-width: 992px) {
  #header #navbar > h1.brand.invisible{
    display: none;
  }

  #header #navbar > div.wrap-search-user.expand {
    width: 100%;
  }

  #header #navbar > div.wrap-search-user input{
    display: none;
    max-width: 100%;
    width: 100%;
  }
  #header #navbar > div.wrap-search-user input.visible{
    display: initial;
  }

  #header #navbar > div.wrap-search-user i#searchicon {
    display:initial ;
  }
  #header #navbar > div.wrap-search-user i#searchicon.invisible {
    display:none ;
  }
}

@media all and (max-width:602px) {
  #header #navbar > div{
    font-size: 2.1rem;
  }
  #header #navbar > h1.brand{
    font-size: 2.7rem;
    position: relative;
  }
  #header #navbar img{
    height: 2.7rem;
  }
  #header #navbar > div.wrap-search-user {
    width: fit-content; 
  }
}

/* header searchResults */
#header div#searchResults {
  position: absolute;
  margin-top:-2rem; 
  box-shadow: 0rem 0rem 0.1rem 0.3rem rgb(var(--secondry-grey-2));
  z-index: 2;
  right: 2%;
  background-color: white;
  width: 40rem;
  padding: 1rem;
  max-height: 50rem;
  overflow-y: scroll;
}

#header div#searchResults ul {
  list-style: none;
}

#header div#searchResults ul li{
  margin: 0.2rem;
}
#header div#searchResults ul li div{
  display: flex;
  align-items: center;
}

#header div#searchResults ul li img{
  width: 10rem;
  margin: 0.1rem;
  display: block;
  margin-right: 0.5rem;
}

#header div#searchResults ul li div{
  pointer-events: none;
}
#header div#searchResults ul li div:hover{
  background-color: rgb(var(--secondry-grey-1));
}
#header div#searchResults ul li div span{
  pointer-events: auto;
  cursor: pointer;
}

/*header banner*/


#header #banner {
  position: relative;
  width: 100%;
  backdrop-filter: blur(10px) ;
}

#header #banner > h1.title,h2.subtitle {
  position: absolute;
  color: #f0f0f0;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(20px);
}

#header #banner h1 {
  top:20%;
  font-size: 9vw;
}

#header #banner h2 {
  bottom:20%;
  font-size: 5vw;
}

#header #banner span {
  border: 2px solid #f0f0f0;
  padding: 0 2rem;
}

#header #banner img{
  width: 100%;
}
/* ----------- Main -------------- */
/* #main {
  padding-top: var(--space-from-top);
} */

/* ------------ UserAdminAuth Section------------ */
#useradminauth {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

#useradminauth .backimage {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

#useradminauth div.backdrop {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
  top: 0;
  background-color : rgba(240,240,240,0.5);
}

#useradminauth div.backdrop div.row{
  width: 43rem;
}

#useradminauth div.backdrop div.row div.heading {
  margin-bottom: 1rem;
}
#useradminauth div.backdrop div.row div.heading h4.title {
  text-align: center;
}

#useradminauth div.backdrop div.row div.body div.auth {
  margin-top: 5rem;
  margin-bottom: 1rem;
}


#useradminauth div.backdrop div.row div.body button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}
#useradminauth div.backdrop div.row div.body button:hover {
  border-bottom: 2px solid rgb(var(--primary-blue));
}

@media screen and (max-width: 496px) {
  #useradminauth div.backdrop div.row{
    width: 100%;
  }
}

/* ------------Home section------------ */
#home .mycard{
  height: 50rem;
  padding: 2rem;
}

@media screen and (min-width:500px) and (max-width:991px)  {
  #home .mycard{
    height: 55rem;
  }
}

#home .mycard .content{
  border: 3px solid rgb(var(--primary-grey));
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position-y: 30%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home .mycard a:hover{
  text-decoration: none;
}
#home .mycard .content:hover {
  background-size: 130%;
  background-position-x: 60%;
  background-position-y: 60%;
  box-shadow: 0 0 40px 10px #aaa ;
}
#home .mycard .content .background {
  position: absolute;
  top: 0;
  left:0;
  background-color: rgb(var(--primary-blue));
  width: 100%;
  height: 100%;
  opacity:0 ;
  transition: opacity 0.3s;
}
#home .mycard .content .background span {
  position: relative;
  display: block;
  text-align: center;
  top: 42%;
  color:rgb(var(--secondry-dark-blue));
  font-size: 4rem;
}
#home .mycard .content:hover .background {
  opacity: 0.75;
}
#home .mycard .content .title{
  width: 100%;
  height: 20%;
  background-color: rgb(var(--primary-grey));
  /* color: var(--primary-orange); */
  color: rgb(var(--primary-grey-3));
  display: flex;
  transition: opacity 0.2s;
}
#home .mycard .content:hover .title {
  opacity: 0;
}
#home .mycard .content .title h5{
  text-align: center;
  width:80%;
  display: inline-block;
  margin: auto;
  font-weight: 900;
}
#home .mycard .content .title div.rating{
  width: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}
#home .mycard .content .title div.rating span{
  font-size:2rem;
  color:rgb(var(--primary-yellow));
}
#home .mycard .content .title div.rating span.text{
  font-size:2.2rem;
  margin-right: 4px;
  color:black
}
#home .mycard .content div.price{
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;
  transition: opacity 0.2s;
}

#home .mycard .content:hover div.price {
  opacity: 0;
}

#home .mycard .content div.price h4{
  background-color: rgb(var(--primary-green-yellow));
  display: inline-flex;
  font-size: 2rem;
  width: 40%;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

#home .mycard .content div.price h4:first-child{
  background-color: rgb(var(--primary-grey));
  text-transform: uppercase;
  width: 60%;
  color: rgb(var(--primary-blue));
}

/* ------------Product Page------------ */

/* Gallery */
#gallery [class*="col-"]{
  padding: 0; /* overriding boostrap padding due col or row classes */
}

#gallery [class*="row"]{
  margin: 0;
}
#gallery #currdiv {
  z-index: -1 ;
}

#gallery #scrolldiv {
  overflow: scroll;
  /* margin-left: 2rem; */
  /*width: 100%; no need for this , but putting it as this scroll div was 
  going out of the page in width , don't know why */
}
#gallery #scrolldiv::-webkit-scrollbar {
  display: none;
}

#gallery #scrolldiv div.selected {
  border: 2px solid rgb(var(--primary-dark-blue));
}

@media screen and (max-width:576px) {
  #gallery #scrolldiv{
    flex-wrap: nowrap;
  }
}

/* Actions */
#actions{
  padding-top:30px;
}

#actions div.list {
  position: relative;
  padding: 1rem ;
  box-shadow: 0 0 4px 1px #aaa ;
  margin: 2rem;
  border-radius: 5px;
  margin-top: 30px;
}

#actions div.list span{
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: -1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 5px;
  padding: 2rem;
  background-image: linear-gradient(40deg, rgb(var(--primary-green-yellow)) 10% , rgb(var(--primary-green)));
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

#actions div.list p{
  font-size: 2rem;
  display: inline-block;
  padding-left: 5rem;
}

#actions div.rating span.star-icon{
  font-size: 4rem ;
  cursor: default;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 2px black;
}

#actions div.rating span.solid{
  color: rgb(var(--primary-yellow));
}

#actions div.rating p{
  display: inline-block;
  font-size: 3rem;
  margin-left: 2rem;
}

#actions div.rating div{
  position: relative;
  display: flex;
  align-items: center;
}

#actions div.rating div span.mytooltip{
  position: absolute;
  right: 0;
  display: flex;
  background-color: rgb(var(--primary-grey));
  opacity: 0;
  z-index: -2;
  box-shadow: 0px 0px 2px 1px black;
  height: min-content;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin:0 auto;
  align-items: center;
}
#actions div.rating div span.mytooltip::before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 0px;
  left: 0;
  height: 0px;
  border: 5px solid transparent; 
  border-right: 5px solid black; 
  left:-10px
}

#actions div.rating div span.star-icon:hover ~ span.mytooltip{
  opacity: 1;
  z-index: 1;
}

#actions div.btndiv {
  display: flex;
  flex-direction: column;
}

#actions div.btndiv button {
  margin: 1rem;
}

#actions div.btndiv button#removefromcart {
  border-color:rgb(var(--primary-red));
}
#actions div.btndiv button#removefromcart:hover {
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-red));
}

/* #actions div.btndiv button#addtocart {
  border-color:rgb(var(--primary-green));
}
#actions div.btndiv button#addtocart:hover {
  border-color:rgb(var(--primary-blue));
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-blue));
} */
/* Description */
#description {
  font-size: 1.8rem;
  margin: 5rem 0;
  box-shadow: 0 0 4px 1px #aaa ;
  padding : 5rem;
}

@media screen and (max-width:768px){
  #description{
    padding : 2rem;
  }
}

#description h3{
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  margin-bottom: 2rem;
}

/* review */
#review h3{
  text-transform: uppercase;
  letter-spacing: 0.2ch;
}

#review div.rating span.star-icon{
  font-size: 4rem ;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 2px black;
}
 
#review div.rating span.solid{
  color: rgb(var(--primary-yellow));
}

#review div.rating span:hover{
  cursor: pointer;
}

#review div.review-area button{
  padding: 0.5rem 2rem;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  outline: none;
  background: white;
  border: 2px solid rgb(var(--primary-blue));
  font-size: 1.8rem;
  border-radius: 5rem;
}
#review div.review-area button:hover{
  box-shadow: 0px 0px 4px 0.5px rgb(var(--primary-blue));
  background-color: rgb(var(--primary-white));
}
/* --------Cart Page------- */
#cart h2{
  margin:4rem 0;
}
#cart table tr{
  font-size: 1.8rem;
}

#cart table {
  text-transform: uppercase;
}

#cart table th {
  background-color: rgb(var(--secondry-grey-2));
}

#cart table tr td{
  color:rgb(var(--primary-grey-3));
}

#cart table tr td a{
  transition: color 0.4s;
  color:rgb(var(--primary-grey-1)) !important;
  font-weight: 650;
}
#cart table tr td a:hover{
  color:black !important;
}

#cart table tr td i:hover{
  cursor: pointer;
}

#cart table tr:last-child td:nth-child(4) span{
  display: block;
  width: max-content;
}

/* ------ Password Reset Page ------- */
#passwordreset form{
  width: 30rem;
  margin: 0 auto;
}

/* ------- Footer -----*/
#footer{
  background-color: rgba(var(--primary-grey),1);
}