html{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar{
  width: 0;
  height: 0;
}
*{
  margin: 0px;
  padding: 0px;
}

:root{
  --primary-blue: 24, 144, 255; 
  --primary-dark-blue: 36, 48, 83;
  --secondry-blue: 49, 112, 126;
  --secondry-dark-blue:17, 45, 50; 
  --primary-green:58, 175, 169; 
  --primary-dark:104, 118, 132;
  --primary-white: 250,250,250;
  --primary-grey:240, 240, 240;
  --primary-yellow: 255, 233, 0;
  --primary-green-yellow:154, 205, 50; 
  --primary-orange: 222, 102, 0;
  --primary-red: 255, 74, 74;
  --primary-grey-1: 108, 117, 125;
  --primary-grey-2:33, 37, 41;
  --primary-grey-3:50, 54, 58;
  --secondry-grey-1:238, 238, 238;
  --secondry-grey-2:221, 221, 221;

  --space-from-top:85px;
}

a{
  text-decoration: none !important;
  color: black !important;
}

/* General */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


/* typography */
h1 {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.gradient{
  background-image: linear-gradient(to right, rgb(var(--primary-green)) , 40% , rgb(var(--primary-blue)));
  color: transparent;
  font-weight: 900 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 0;
}

h4{
  font-size:1.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/* Toast */
@keyframes toastDown {
  from{
    top:-1rem;
  }
  to{
    top:9rem;
  }
}

div#toast{
  color: black;
  background-image: linear-gradient(40deg, rgb(var(--primary-green-yellow)) 20% , rgb(var(--primary-green)));
  padding: 0.4rem 0.4rem;
  border-radius: 20px;
  position: fixed;
  left: 0 ;
  right: 0 ;
  top: 9rem;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

div#toast.show{
  visibility: visible;
}


div#toast span{
  background-color: white;
  border-radius: 15px;
  padding: 0.8rem 1.4rem ;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}

/* customized headings */
h1.brand {
  text-align: center;
  text-shadow: 2px 2px 0px #eee, 2.5px 2.5px 0px #000;
  color:rgb(var(--secondry-dark-blue));
  margin: 0 auto;
  /* width: 100%; */
}
h1.brand a{
  display:inline-block;
  margin: 0 1.5rem;
}
h1.brand a::first-letter {
  color: rgb(var(--primary-blue));
}

/* customized buttons */
  button.type1 {
  outline: none;
  padding: 4px 24px;
  border-radius: 50px;
  font-size: 1.8rem;
  border: 3px solid rgb(var(--primary-green));
  transition: all 0.5s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

button.type1 span.background{
  position: absolute;
  background-color: rgb(var(--primary-green));
  top: -1%;
  height: 102%;
  left: -1%;
  width: 102%;
  transition: all 0.4s;
}

button.type1 span.text {
  transform: translateX(0%);
  transition: all 0.4s;
  letter-spacing: 5px;
  color: black;
}

button.type1 span.icon {
  position: absolute;
  transition: opacity 0.4s;
  color: white;
  opacity: 0;
  left: 4%;
}

button.type1:hover {
  border: 3px solid rgb(var(--primary-blue)) ;
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-blue));
}

button.type1:hover span.background {
  width:20%;
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-green));
}

button.type1:hover span.text {
  transform: translateX(55%);
  letter-spacing: 2px;
  text-shadow: 0px 0px 12px #999;
}

button.type1:hover span.icon {
  opacity: 1;
}

button.type2 {
  outline: none;
  padding: 4px 24px;
  border-radius: 50px;
  font-size: 1.8rem;
  border: 3px solid rgb(var(--primary-green));
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

button.type2 span.text {
  transform: translateX(0%);
  transition: all 0.4s;
  letter-spacing: 4px;
  color: black;
}

button.type2 span.icon {
  position: absolute;
  transition: opacity 0.4s;
  color: black;
  opacity: 0;
  left: 4%;
}

button.type2:hover {
  border: 3px solid rgb(var(--primary-blue));
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-blue));
}

button.type2:hover span.text {
  transform: translateX(30%);
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 12px #999;
}

button.type2:hover span.icon {
  opacity: 1;
}
/* ------------ SlideBar --------- */

section.slidebar{
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100%;
  box-shadow: 0rem 0rem 1rem 0.3rem grey;
}

section.slidebar.left{
  left: 0; /* override it by filterbar left = -39rem (i.e. width of slidebar) */
  transition: left 0.3s ease-in-out !important;
  -webkit-transition: left 0.3s ease-in-out !important;
}

section.slidebar.right{
  right: 0; /* override it by userbar right = -39rem (i.e. width of slidebar) */
  transition: right 0.5s ease-in-out!important;
  -webkit-transition: right 0.5s ease-in-out !important;
}

section.slidebar div.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding : 1.5rem;
}

section.slidebar div.head div.sbarcross i {
  padding:1rem 1.5rem;
  font-size: 2.5rem;
  margin-right: 0rem;
  border-width: 0.2rem;
  border-color: transparent; 
  border-style: solid;
  transition: border 0.2s;
}

section.slidebar div.head div.sbarcross i:hover  {
  color: rgb(var(--primary-green-yellow));
  cursor: pointer;
  border-style: solid;
  border-color: rgb(var(--primary-green-yellow));
}

section.slidebar div.body div.sbaritem div.sbaraccordion div.title {
  cursor: pointer;
}

section.slidebar div.body div.sbaritem div.sbaraccordion div.body{
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}

section.slidebar div.body div.sbaritem div.sbaraccordion div.body.visible{
  overflow: visible;
  max-height: 50rem;
}

/* ############ Main Section ############ */

/* filter bar */
#filterbar{
  background-color: rgba(var(--primary-white),0.2);
  backdrop-filter: blur(20px);
  left: -39rem;
}

#filterbar div.head div.sbartitle h3.gradient{
  text-shadow: 2px 2px 3px rgb(var(--primary-grey-2));
  color: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.title {
  background-color:rgb(var(--secondry-grey-1)) ;
  text-shadow: 0.1px 0.1px 0.1px rgba(var(--primary-grey-1,0.05));
  padding: 1.5rem 2rem;
  /* margin: 0.4rem; */
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3ch;
  margin-bottom: 0;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
}

#filterbar div.body div.sbaritem:first-child div.sbaraccordion div.title {
  border-top: 0.2rem solid rgb(var(--primary-grey-3));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.title:hover {
  background-color: rgb(var(--secondry-grey-2));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body {
  backdrop-filter: blur(10px);
  background-color: rgba(var(--primary-white),0.7);
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body.visible {
  z-index: 1;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter {
  display: flex;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
  justify-content: space-around; 
  align-items: center;
  padding-top: 4rem;
  width: 100%;
  padding-bottom: 2rem;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span{
  display: flex;
  align-items: center;
  position: relative;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span.range{
  width: 65%;
  margin: 0 1rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span.number{
  width: 15%;
  margin: 0 1rem;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span{
  position: absolute;
  border: 2px solid rgb(var(--primary-grey-1));
  top:-3.3rem;
  padding:0rem 0.3rem;
  border-radius:5px;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span::after{
  content: "";
  position: absolute;
  border:6px solid transparent; 
  border-top-color: rgb(var(--primary-grey-1));
  bottom: -1.2rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.left{
  left: -1rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.left::after{
  left: 14%;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.right{
  right: -2.5rem;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter span span.right::after{
  left: 40%;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]{
	-webkit-appearance: none;
  appearance: none;
	width: 100%;
	background: transparent;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]:focus{
  outline: none;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-track{
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
/* All the same stuff for Firefox */
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-moz-range-thumb{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-thumb{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* Styling track now */
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(var(--primary-blue));
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]:focus::-webkit-slider-runnable-track{
  background: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-moz-range-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(var(--primary-blue)); 
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-fill-lower{
  background: rgb(var(--primary-blue));
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-fill-lower{
  background: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]::-ms-fill-upper{
  background: rgb(var(--primary-blue));
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=range]:focus::-ms-fill-upper{
  background: rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]::-webkit-inner-spin-button,
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]{
  -moz-appearance: textfield ;
  margin: 0;
  appearance: textfield ;
  -webkit-appearance: textfield;
  width: 100%;
  text-align: center;
  /* box-shadow: 0px 0px 5px 2px rgb(var(--secondry-blue)) ; */
  border: 2px solid rgb(var(--primary-blue));
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.price-filter input[type=number]:focus{
  outline: none;
}

#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter {
  text-align: center;
  padding:1.5rem 0;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
} 
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div label{
  width: 50%;
  margin: 0.2rem 0;
  padding: 1rem 1.2rem;
  border: 2px solid transparent; 
  letter-spacing: 0.4ch;
  border-radius: 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  position: relative;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div label:hover{
  background-color:rgba(var(--primary-blue),0.5); 
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div input[type=radio]{
  /* position: relative; */
  display: none;
}
#filterbar div.body div.sbaritem div.sbaraccordion div.body div.category-filter div input[type=radio]:checked + label{
  border:0.2rem solid rgb(var(--primary-blue));
}

/* user bar */
#userbar {
  background-color: rgba(var(--primary-white),0.2);
  backdrop-filter: blur(20px);
  right: -34rem;
}

#userbar div.head {
  flex-direction: row-reverse;
}

#userbar div.head div.sbartitle h3.gradient{
  text-shadow: 2px 2px 3px rgb(var(--primary-grey-2));
  color: rgb(var(--primary-blue));
}

#userbar div.body div.sbaritem div.sbarbutton a{
  background-color:rgb(var(--secondry-grey-1)) ;
  display: block;
  text-shadow: 0.1px 0.1px 0.1px rgba(var(--primary-grey-1,0.05));
  padding: 1.5rem 2rem;
  /* margin: 0.4rem; */
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  margin-bottom: 0;
  border-bottom: 0.2rem solid rgb(var(--primary-grey-3));
}

#userbar div.body div.sbaritem:first-child div.sbarbutton a {
  border-top: 0.2rem solid rgb(var(--primary-grey-3));
}

#userbar div.body div.sbaritem div.sbarbutton a:hover {
  background-color: rgb(var(--secondry-grey-2));
}

/* ------------ Navbar ---------*/
#header #navbar {
  padding: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0.3rem grey;
  margin-bottom: 2rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  background-color: white;
  /* margin-top:calc(var(--space-from-top)*-1); */
}


#header #navbar > div {
  font-size: 4rem;
}

#header #navbar img {
  height: 4.5rem;
  width: auto;
}

#header #navbar i{
  padding: 1rem;
  transition: border 0.2s;
  border: 0.2rem solid white;
}

#header #navbar i:hover{
  cursor: pointer;
  border: 0.2rem solid black;
}

#header #navbar > div.sidebar-icon {
  text-align: center;
  margin-right: auto;
}
#header #navbar > div.wrap-search-user {
  /* width: 20%; */
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  width: min-content;
}
#header #navbar > div.wrap-search-user input {
  font-size: 2rem;
  margin: auto 0;
  max-width: 50%;
  margin-right: 0.1rem;
  border: 0;
  transition: 0.2s all;
  outline: none;
  border-bottom: 0.2rem solid transparent;
}
#header #navbar > div.wrap-search-user input:focus {
  border: none;
  border-bottom: 0.2rem solid rgb(var(--primary-blue)) !important;
}
#header #navbar > div.wrap-search-user input:hover {
  border: none;
  border-bottom: 0.2rem solid rgb(var(--primary-blue)) !important;
}
#header #navbar > div.wrap-search-user input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#header #navbar > div.wrap-search-user input:hover::placeholder {
  color: black; 
}
#header #navbar > div.wrap-search-user input:focus::placeholder {
  color: black; 
}

#header #navbar > div.wrap-search-user span.search {
  font-size: 2.5rem;
  border: none;
  display: inline-flex;
  margin-left: auto;
}
#header #navbar > div.wrap-search-user span.search i {
  border: none;
  transition: all 0.2s;
  padding: 1rem;
  align-self: center;
  padding: none;
  color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
}
#header #navbar > div.wrap-search-user span.search i:hover{
  cursor: pointer;
}
#header #navbar > div.wrap-search-user span.search i.invisible {
  color: transparent;
}

#header #navbar > h1 {
  /* padding-left: 8%; */
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin-right: auto;
}


/* header searchResults */
/* TODO: make this results div more responsive */
#header div#searchResults {
  position: absolute;
  margin-top:-2rem; 
  box-shadow: 0rem 0rem 0.1rem 0.3rem rgb(var(--secondry-grey-2));
  z-index: 2;
  right: 2%;
  background-color: white;
  width: 40rem;
  padding: 1rem;
  max-height: 50rem;
  overflow-y: scroll;
}

#header div#searchResults ul {
  list-style: none;
}

#header div#searchResults ul li{
  margin: 0.2rem;
}
#header div#searchResults ul li div{
  display: flex;
  align-items: center;
}

#header div#searchResults ul li img{
  width: 10rem;
  margin: 0.1rem;
  display: block;
  margin-right: 0.5rem;
}

#header div#searchResults ul li div{
  pointer-events: none;
}
#header div#searchResults ul li div:hover{
  background-color: rgb(var(--secondry-grey-1));
}
#header div#searchResults ul li div span{
  pointer-events: auto;
  cursor: pointer;
}

/*header banner*/


#header #banner {
  position: relative;
  width: 100%;
  backdrop-filter: blur(10px) ;
}

#header #banner > h1.title,h2.subtitle {
  position: absolute;
  color: #f0f0f0;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(20px);
}

#header #banner h1 {
  top:20%;
  font-size: 9vw;
}

#header #banner h2 {
  bottom:20%;
  font-size: 5vw;
}

#header #banner span {
  border: 2px solid #f0f0f0;
  padding: 0 2rem;
}

#header #banner img{
  width: 100%;
}
/* ----------- Main -------------- */
/* #main {
  padding-top: var(--space-from-top);
} */

/* ------------ UserAdminAuth Section------------ */
#useradminauth {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

#useradminauth .backimage {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

#useradminauth div.backdrop {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
  top: 0;
  background-color : rgba(240,240,240,0.5);
}

#useradminauth div.backdrop div.row{
  width: 35%;
  display: block;
}

#useradminauth div.backdrop div.row div.heading {
  margin-bottom: 1rem;
}
#useradminauth div.backdrop div.row div.heading h4.title {
  text-align: center;
}

#useradminauth div.backdrop div.row div.body div.field{
  position: relative;
}

#useradminauth div.backdrop div.row div.body div.auth {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

#useradminauth div.backdrop div.row div.body div.field input {
  display: block;
  margin: 2rem 0;
  padding-top: 2rem;
  background-color: transparent;
  border-top: none;
  border-right: none;
  outline: none;
  border-left: none;
  border-bottom: 4px solid transparent;
  font-size: 2rem;
  width: 70%;
  transition: border 0.2s;
  position:relative ;
}
#useradminauth div.backdrop div.row div.body div.field label {
  position: absolute;  
  opacity: 0;
  color: rgb(var(--primary-dark-blue));
  top: 10px;
  transition: top 0.2s;
}
#useradminauth div.backdrop div.row div.body div.field input:focus + label {
  font-weight: bold;
  top:0px;
  opacity: 1;
  font-size: 1.6rem;
  color:rgb(var(--primary-blue));
}

#useradminauth div.backdrop div.row div.body input:focus {
  border-bottom: 4px solid rgb(var(--primary-blue)) !important; 
}

#useradminauth div.backdrop div.row div.body input::placeholder {
  color: rgb(var(--secondry-dark-blue));
  font-size: 2rem;
  opacity: 0.8;
  transition: opacity 0.2s;
  font-weight: 700;
}

div.backdrop div.row div.body input:focus::placeholder {
  opacity: 0 !important;
}

#useradminauth div.backdrop div.row div.body button {
  background-color: transparent;
  border: none;
  outline: none;
}

#useradminauth button.type1 span.icon {
  color: black;
}

#useradminauth button.type1:hover span.background {
  width: 25%;
}

/* ------------Home section------------ */
#home .mycard{
  height: 50rem;
  padding: 2rem;
}
#home .mycard .content{
  border: 3px solid rgb(var(--primary-grey));
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position-y: 30%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home .mycard a:hover{
  text-decoration: none;
}
#home .mycard .content:hover {
  background-size: 130%;
  background-position-x: 60%;
  background-position-y: 60%;
  box-shadow: 0 0 40px 10px #aaa ;
}
#home .mycard .content .background {
  position: absolute;
  top: 0;
  left:0;
  background-color: rgb(var(--primary-blue));
  width: 100%;
  height: 100%;
  opacity:0 ;
  transition: opacity 0.3s;
}
#home .mycard .content .background span {
  position: relative;
  display: block;
  text-align: center;
  top: 42%;
  color:rgb(var(--secondry-dark-blue));
  font-size: 4rem;
}
#home .mycard .content:hover .background {
  opacity: 0.75;
}
#home .mycard .content .title{
  width: 100%;
  height: 20%;
  background-color: rgb(var(--primary-grey));
  /* color: var(--primary-orange); */
  color: rgb(var(--primary-grey-3));
  display: flex;
  transition: opacity 0.2s;
}
#home .mycard .content:hover .title {
  opacity: 0;
}
#home .mycard .content .title h4{
  text-align: center;
  width:80%;
  display: inline-block;
  margin: auto;
  font-weight: 900;
}
#home .mycard .content .title div.rating{
  width: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}
#home .mycard .content .title div.rating span{
  font-size:2rem;
  color:rgb(var(--primary-yellow));
}
#home .mycard .content .title div.rating span.text{
  font-size:2.2rem;
  margin-right: 4px;
  color:black
}
#home .mycard .content div.price{
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;
  transition: opacity 0.2s;
}

#home .mycard .content:hover div.price {
  opacity: 0;
}

#home .mycard .content div.price h4{
  background-color: rgb(var(--primary-green-yellow));
  display: inline-flex;
  font-size: 2rem;
  width: 40%;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

#home .mycard .content div.price h4:first-child{
  background-color: rgb(var(--primary-grey));
  text-transform: uppercase;
  width: 60%;
  color: rgb(var(--primary-blue));
}

/* ------------Product Page------------ */

/* Gallery */
#gallery #currdiv {
  z-index: -1 ;
}

#gallery #scrolldiv {
  overflow: scroll;
}

#gallery #scrolldiv div {
  box-sizing: border-box;
}

#gallery #scrolldiv div.selected {
  border: 2px solid rgb(var(--primary-dark-blue));
}

@media screen and (max-width:576px) {
  #gallery #scrolldiv{
    flex-wrap: nowrap;
  }
}

/* Actions */
#actions{
  padding-top:30px;
}

#actions div.list {
  position: relative;
  padding: 1rem ;
  box-shadow: 0 0 4px 1px #aaa ;
  margin: 2rem;
  border-radius: 5px;
  margin-top: 30px;
}

#actions div.list span{
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: -1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 5px;
  padding: 2rem;
  background-image: linear-gradient(40deg, rgb(var(--primary-green-yellow)) 10% , rgb(var(--primary-green)));
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

#actions div.list p{
  font-size: 2rem;
  display: inline-block;
  padding-left: 5rem;
}

#actions div.rating span.star-icon{
  font-size: 4rem ;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 2px black;
}
#actions div.rating span.solid{
  color: rgb(var(--primary-yellow));
}
#actions div.rating p{
  display: inline-block;
  font-size: 3rem;
  margin-left: 2rem;
}

#actions div.btndiv {
  display: flex;
  flex-direction: column;
}

#actions div.btndiv button {
  margin: 1rem;
}

#actions div.btndiv button#removefromcart {
  border-color:rgb(var(--primary-red));
}
#actions div.btndiv button#removefromcart:hover {
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-red));
}

#actions div.btndiv button#addtocart {
  border-color:rgb(var(--primary-green));
}
#actions div.btndiv button#addtocart:hover {
  border-color:rgb(var(--primary-blue));
  box-shadow: 0px 0px 4px 1px rgb(var(--primary-blue));
}
/* Description */
#description {
  font-size: 1.8rem;
  margin: 5rem 0;
  box-shadow: 0 0 4px 1px #aaa ;
  padding : 5rem
}

/* review */
#review div.rating span.star-icon{
  font-size: 4rem ;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 2px black;
}
#review div.rating span.solid{
  color: rgb(var(--primary-yellow));
}
#review div.rating span:hover{
  cursor: pointer;
}
#review div.review textarea{
  border: 2px solid rgb(var(--primary-dark-blue));
  font-size: 2rem;
  outline: none;
}

/* --------Cart Page------- */
#cart h2{
  margin:4rem 0;
}
#cart table tr{
  font-size: 1.8rem;
}

#cart table {
  text-transform: uppercase;
}

#cart table th {
  background-color: rgb(var(--secondry-grey-2));
}

#cart table tr td{
  color:rgb(var(--primary-grey-3));
}

#cart table tr td a{
  transition: color 0.4s;
  color:rgb(var(--primary-grey-1)) !important;
  font-weight: 650;
}
#cart table tr td a:hover{
  color:black !important;
}

#cart table tr td i:hover{
  cursor: pointer;
}