.ddlink:hover{
    color: #1890ff ;
}
.ddlink{
    display: block;
    width: 100%;
}

.nav{
    background-color: red;
    z-index:1  ;
    top:-55px;
    position: fixed;
    width: 100% ;
    transition-property: top;
    transition-duration: 0.5s;
}
/* style={{zIndex:"1",,, width: "100%" }}  */